from glob import glob
import logging
import os
import sys


PYTHON_VERSION = "python%s" % (sys.version[0:3])
BASE_DIR = os.path.abspath(os.path.dirname(__file__))
VENV = os.path.join(BASE_DIR, 'venv')
sys.path.insert(1, os.path.join(BASE_DIR, 'nodonuts'))
sys.path.insert(1, os.path.join(VENV, 'lib', PYTHON_VERSION,
                                'site-packages'))
for src_folder in glob(os.path.join(VENV, 'src', '*')):
    if os.path.isdir(src_folder):
        sys.path.insert(1, src_folder)

from nodonuts.wsgi import application as myapp

logfilename = os.path.join(BASE_DIR, 'passenger_wsgi.log')
# configure the logging
logging.basicConfig(filename=logfilename, level=logging.DEBUG)
logging.info("Running %s", sys.executable)

def application(environ, start_response):
    logging.info("Application called:")
    logging.info("environ: %s", str(environ))
    results = []
    try:
        results = myapp(environ, start_response)
        logging.info("App executed successfully")
    except Exception, inst:
        logging.exception("Error: %s", str(type(inst)))
    logging.info("Application call done")
    return results
