<div id="footer">
  <div class="footer-text">
    {% block footer %}
      <ul class="footer-links">
        <li><a href="{% url "about" %}">About</a></li>
        {% if config.DISPLAY_TERMS_AND_CONDITIONS %}
        <li><a href="{% url "terms" %}">Terms and Conditions</a></li>
        {% endif %}
        {% if config.DISPLAY_PRIVACY_POLICY %}
        <li><a href="{% url "privacy" %}">Privacy Policy</a></li>
        {% endif %}
      </ul>
      <p>{{ config.COPYRIGHT }} &copy; {% now "Y" %} {{ config.SITE_NAME }}. {{ config.COPYRIGHT_MESSAGE }}</p>
    {% endblock %}
  </div>
</div>