{% block form_text %}{% endblock %}
<form id="{% block form_id %}form{% endblock %}" class="{% block form_class %}{% endblock %}" method="{% block form_method %}post{% endblock %}" action="{% block form_action %}{{ submit_url|default:"."}}{% endblock %}" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {% block form %}
    <table class="{% block form_table_class %}{% endblock %}">
        {{ form.as_table }}
    </table>
    {% endblock %}

    {% block form_submit %}
    <input type="submit" value="{% block submit_label %}Submit{% endblock %}">
    {% endblock %}

    {% block form_extra %}{% endblock %}
</form>
{% block more_form_text %}{% endblock %}
{% block form_javascript %}{% endblock %}