{% extends "partials/_form_base.html" %}

{% block form_text %}
<p><strong>Welcome! Please log in to continue.</strong></p>
{% endblock %}

{% block form_class %}login-form{% endblock %}

{% block more_form_text %}
  <hr>
  <p><strong>Or log in using another site:</strong></p>
  <p class="social-media-login">
    {% if config.ENABLE_FACEBOOK_LOGIN %}
      <a href="{% url "social:begin" "facebook" %}"><i class="fi-social-facebook"></i></a>
    {% endif %}
    <a href="{% url "social:begin" "google" %}"><i class="fi-social-google-plus"></i></a>
    {% if config.ENABLE_TWITTER_LOGIN %}
      <a href="{% url "social:begin" "twitter" %}"><i class="fi-social-twitter"></i></a>
    {% endif %}
    <a href="{% url "social:begin" "yahoo" %}"><i class="fi-social-yahoo"></i></a>
  </p>
  <p class="policy-agreement">
     By logging in, you agree to our <a href="{% url "terms" %}">Terms of Service</a>
     and our <a href="{% url "privacy" %}">Privacy Policy</a>.
  </p>
{% endblock %}