{% extends "partials/_form_base.html" %}

{% block form_text %}

{% with config.DISPLAY_TERMS_AND_CONDITIONS as terms %}
{% with config.DISPLAY_PRIVACY_POLICY as privacy %}
  {% if terms or privacy %}
    <p class="policy-agreement">
      <strong>By creating an account or logging in, you agree to be bound by our
      {% if terms %}<a href="{% url "terms" %}">Terms of Service</a>{% endif %}
      {% if terms and privacy %} and our {% endif %}
      {% if privacy %}<a href="{% url "privacy" %}">Privacy Policy</a>{% endif %}.
      </strong>
    </p>
    <hr>
  {% endif %}
{% endwith %}
{% endwith %}

<p><strong>{% block welcome_text %}Welcome! Please log in to continue.{% endblock %}</strong></p>
{% endblock %}

{% block form_class %}login-form{% endblock %}
{% block form_action %}.?next={{ request.GET.next }}{% endblock %}

{% block form_table_class %}login-form-table{% endblock %}

{% block more_form_text %}
  {% include "partials/_social_logins.html" %}
{% endblock %}