<div id="nav">
  <ul class="nav-links">
    {% block nav_bar %}
      <li class="divider"></li>
      <li><a href="{% url "home" %}">Home</a></li>
      <li class="divider"></li>
      <li><a href="{% url "about" %}">About</a></li>
      <li class="divider"></li>
      {% if config.DISPLAY_DOC_LINKS %}
        {% if user.is_superuser or not config.SUPERUSER_DOCS_ONLY %}
          <li><a href="{% url "doc-index" "nodonuts" %}"><i class="fi-page icon" alt="Admin"></i> Docs</a></li>
        {% endif %}
      {% endif %}
      <li class="divider"></li>
      {% if user.is_superuser %}
        <li><a href="{% url "admin_panel" %}"><i class="fi-widget icon" alt="Admin"></i> Admin</a></li>
      {% endif %}
      <li class="divider"></li>
      <li class="has-button">
        {% if user.is_authenticated %}
          <a href="{% url "logout" %}" class="small button">Sign Out</a>
        {% else %}
          <a href="{% url "login" %}" class="small button">Log In</a>
        {% endif %}
      </li>
    {% endblock %}
  </ul>
</div>