<div id="nav">
  <ul class="nav-links">
    {% block nav_bar %}
      <li class="divider"></li>
      <li><a href="{% url "home" %}">Home</a></li>
      <li class="divider"></li>
      <li><a href="{% url "about" %}">About</a></li>
      {% if config.DISPLAY_DOC_LINKS %}
        {% if user.is_superuser or not config.SUPERUSER_DOCS_ONLY %}
          <li class="divider"></li>
          <li><a href="{% url "doc-index" "nodonuts" %}"><i class="fi-page icon" alt="Admin"></i> Docs</a></li>
        {% endif %}
      {% endif %}
      {% if user.is_authenticated %}
        <li class="divider"></li>
        <li>
            <a href="{% url "my_profile" %}">
            {% with profile.get_social_logins as social %}
            {% if "twitter" in social %}
              <i class="fi-social-twitter"></i>
            {% else %}{% if "facebook" in social %}
              <i class="fi-social-facebook"></i>
            {% else %}{% if "google" in social %}
              <i class="fi-social-google-plus"></i>
            {% else %}{% if "yahoo" in social %}
              <i class="fi-social-yahoo"></i>
            {% else %}
              <i class="fi-torsos-female-male"></i>
            {% endif %}{% endif %}{% endif %}{% endif %}
            {{ profile }}
            {% endwith %}
            </a>
        </li>
      {% endif %}
      {% if user.is_superuser %}
        <li class="divider"></li>
        <li><a href="{% url "admin_panel" %}"><i class="fi-widget icon" alt="Admin"></i> Admin</a></li>
      {% endif %}
      <li class="divider"></li>
      <li class="has-button">
        {% if user.is_authenticated %}
          <a href="{% url "logout" %}" class="small button">Sign Out</a>
        {% else %}
          <a href="{% url "login" %}" class="small button login">Log In</a>
          <a href="{% url "new_user" %}" class="small button signup">Sign Up</a>
        {% endif %}
      </li>
    {% endblock %}
  </ul>
</div>