<hr>
<p><strong>Or log in using another site:</strong></p>
<p class="social-media-login">
  {% if config.ENABLE_FACEBOOK_LOGIN %}
    <a href="{% url "social:begin" "facebook" %}?next={{ request.GET.next }}"><i class="fi-social-facebook"></i></a>
  {% endif %}
  <a href="{% url "social:begin" "google" %}?next={{ request.GET.next }}"><i class="fi-social-google-plus"></i></a>
  {% if config.ENABLE_TWITTER_LOGIN %}
    <a href="{% url "social:begin" "twitter" %}?next={{ request.GET.next }}"><i class="fi-social-twitter"></i></a>
  {% endif %}
  <a href="{% url "social:begin" "yahoo" %}?next={{ request.GET.next }}"><i class="fi-social-yahoo"></i></a>
</p>