{% extends "theme_base.html" %}

{% load staticfiles %}

{% block head_extra %}
<script type="text/javascript" src="{% static "js/search.js" %}"></script>
{% endblock %}

{% block search_bar %}{% endblock %}

{% block content %}
  <div id="search-content">
    {% include "recipes/partials/_tags.html" %}

    <div id="search-results{% if not tags %}-fullwidth{% endif %}">
      <div class="wrapper">
        <div class="search-options">
          <h2>Search</h2>

          <form method="get" action=".">
            {{ form.q }}
            <input type="submit" value="Search Recipes">
          </form>
        </div>

        <div class="recipe-list-fullwidth">
          {% if page.object_list %}
            <h3>Results</h3>

            {% for result in page.object_list %}
              {% with result.object as recipe %}
              {% with "recipe-summary" as recipe_div_class %}
                {% include "recipes/partials/_recipe_summary.html" %}
              {% endwith %}
              {% endwith %}
            {% empty %}
              <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
              <div class="next-previous">
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                                          <span class="link-like">|</span>
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
              </div>
            {% endif %}
          {% else %}
            <div class="no-results">
              <p>Enter search words in the form above to start searching.</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}