{% extends "theme_base.html" %}

{% load staticfiles %}

{% block content %}
  {% if not featured_recipes and not newest_recipes %}
    {% include "partials/_under_construction.html" %}
  {% else %}
  <div id="search-content">
    {% include "recipes/partials/_tags.html" %}

    <div class="recipe-list{% if not tags %}-fullwidth{% endif %}">
      {% if featured_recipes %}
      <div class="wrapper">
        <div id="featured-recipes">
          <h2>Featured Recipes</h2>

          <ul id="slideshow" data-orbit>
            {% with "recipe-slider" as recipe_div_class %}
            {% with "recipes/partials/_recipe_summary.html" as template_name %}
              {% for recipe in featured_recipes %}
                <li>{% include "recipes/partials/_recipe_wrapper.html" %}</li>
              {% endfor %}
            {% endwith %}
            {% endwith %}
          </ul>
        </div>
      </div>
      {% endif %}

      {% if newest_recipes %}
      <div id="newest-recipes">
        <div class="new-cards">
          <div class="wrapper">
            <div class="card-header"><h2>Newest Recipes</h2></div>
            <div class="card-link"><a href="{% url "recipe_search" %}?order=newest">Browse</a></div>
          </div>

          <ul class="new-recipe-list">
            {% for recipe in newest_recipes %}
            {% with recipe.summary_id as recipe_id %}
              {% with True as full_recipe %}
              {% with "recipe-full" as recipe_div_class %}
              {% with "recipes/partials/_recipe_text.html" as template_name %}
                {% include "recipes/partials/_recipe_wrapper.html" %}
              {% endwith %}
              {% endwith %}
              {% endwith %}
            <li>
              <p class="small-recipe" data-reveal-id="{{ recipe_id }}">
                <img src="{% if image_url %}{{ image_url }}{% else %}{% static "img/large-bowl.png" %}{% endif %}" {% if not image_url %}class="recipe-holder" {% endif %}/><br />
                <a href="">{{ recipe.title }}</a>
              </p>
            </li>
            {% endwith %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block body_script %}
$(document).foundation('orbit', {
  timer_speed: 8000,
  pause_on_hover: true,
  resume_on_mouseout: false,
  slide_number: false,
  variable_height: true,
});
{% endblock %}
