{% extends "theme_base.html" %}


{% block content %}
  {% if not featured_recipes and not newest_recipes %}
    {% include "_under_construction.html" %}
  {% else %}
    {% if tags %}
    <div id="tags">

    </div>
    {% endif %}

    {% endif %}
    <div id="results{% if not tags %}-fullwidth{% endif %}">
      {% if featured_recipes %}
      <div id="featured-recipes">
      </div>
      {% endif %}

      {% if newest-recipes %}
      <div id="newest-recipes">
      </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
