{% extends "theme_base.html" %}

{% comment %}A generic base page for including text-only content.{% endcomment %}

{% block content %}
  <div class="section card">
      <div class="section-fullwidth">
        {% block fullwidth_content %}{% endblock %}
      </div>

      <div class="section-aside">
        {% block sidebar %}{% endblock %}
      </div>

      <div class="section-main">
        {% block main_content %}{% endblock %}
      </div>

      <div class="section-fullwidth">
        {% block fullwidth_content2 %}{% endblock %}
      </div>
  </div>
{% endblock %}
