{% comment %}
The primary base template for the site that includes javascript and css links,
but is lacking the banner and footer theming. Pages that don't need theming
(like a popup) may choose to extend this template; however most pages should
extend theme_base.html
{% endcomment %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ config.SITE_NAME }}{% if title_extra %}: {{ title_extra }}{% endif %}</title>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
    <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    {% block head_extra %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
    <h1>Under Construction</h1>
    {% endblock %}
  </body>
</html>
