{% extends "site_base.html" %}
{% load staticfiles %}

{% comment %}
A template for displaying the standard site theme with banners, footers, etc.
Most templates will extend theme_base.html.
{% endcomment %}

{% block head_css %}
  <link href="{% static "css/nodonuts.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}




  {% comment %}
  <div class="fixed">
    <div id="header-wrapper">
      <div id="header">
        <ul class="brand">
          <li class="name">
            <h1><a href="{% url "home" %}">
              {% if config.SHOW_SITE_LOGO %}<img id="logo" src="{% static config.SITE_LOGO %}" alt="{{ config.SITE_NAME }}" />{% endif %}
              {% if config.SHOW_SITE_NAME %}{{ config.SITE_NAME }}{% endif %}
            </a></h1>
          </li>
        </ul>

        {% include "partials/_nav_links.html" %}
      </div>
    </div>

    <div id="search">
      {% block search_bar %}
      <form method="get" action="{% url "recipe_search" %}">
        <div class="search-bar">
          <ul>
            <li class="search-input"><input id="id_q" name="q" type="text" placeholder="search recipes by keyword" /></li>
            <li><button type="submit"><img src="{% static "img/search.png" %}" alt="search" /></button></li>
          </ul>
        </div>
      </form>
      {% endblock %}
    </div>
  </div>

  <div id="content">
    {% block content %}
      {% include "partials/_under_construction.html" %}
    {% endblock %}
  </div>

  <div class="spacer"><div class="container">&nbsp;</div></div>

  {% include "partials/_footer.html" %}{% endcomment %}
{% endblock %}
