{% extends "site_base.html" %}
{% load staticfiles %}

{% comment %}
A template for displaying the standard site theme with banners, footers, etc.
Most templates will extend theme_base.html.
{% endcomment %}

{% block body %}
  <div id="header" class="top-bar">
    <div id="brand" class="title-area">
      <ul>
        <li class="name">
          <h1><a href="{% url "home" %}">
            {% if config.SHOW_SITE_LOGO and config.SITE_LOGO %}<img id="logo" src="{% static config.SITE_LOGO %}">{% endif %}
            {% if config.SHOW_SITE_NAME %}{{ config.SITE_NAME }}{% endif %}</a>
          </h1>
        </li>
      </ul>
    </div>

    <div id="login" class="right">
      {% if user.is_authenticated %}
        Hello, {{ user }}
      {% else %}
        <a href="{% url "admin:index" %}">Login</a>
      {% endif %}
    </div>
  </div>

  {% block nav_bar %}
  <div id="nav-header" class="top-bar">
    <div id="nav" class="top-bar-section">
        <ul id="nav-links" class="left">
          {% block nav %}
          {% endblock %}
        </ul>
    </div>
  </div>
  {% endblock %}

  <div id="content">
    {% block content %}
    <h1>Work in Progress</h1>
    <p>Hello there! It looks like we're still building this page, but please
       check back soon to see our latest updates.
    </p>
    {% endblock %}
  </div>

  <div id="footer" style="width:100%; text-align:center">
  {% block footer %}
    <p>{{ config.COPYRIGHT }} &copy; {% now "Y" %} {{ config.SITE_NAME }}. {{ config.COPYRIGHT_MESSAGE }}</p>
  {% endblock %}
  </div>
{% endblock %}
