{% extends "site_base.html" %}

{% comment %}
A template for displaying the standard site theme with banners, footers, etc.
Most templates will extend theme_base.html.
{% endcomment %}

{% block body %}
  <div id="header">
    <div id="brand"><a href="{% url "home" %}">{{ settings.SITE_NAME }}</a></div>
    <div id="login">
        <a href="">Login</a>
    </div>
    <div id="nav">
        <ul>
        {% block nav %}
          {% for link in links %}
          <li{% if link.current %} class="current"{% endif %}><a href="{{ link.get_url }}">{{ link.text }}</a></li>
          {% endfor %}
        {% endblock %}
        </ul>
    </div>
  </div>
  <div id="content">
  {% block content %}

  {% endblock %}
  </div>

  <div id="footer">
  {% block footer %}
    <p>Copyright &copy; {% now "Y" %} {{ settings.SITE_NAME }}. {{ settings.COPYRIGHT_MESSAGE }}</p>
  {% endblock %}
  </div>
{% endblock %}
