@import "partials/base";

@import
  "compass/css3/border-radius",
  "compass/css3/box-shadow",
  "compass/css3/images",
  "compass/css3/opacity";

@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
   "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/clearing",
   "foundation/components/dropdown",
   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/grid",
   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
   "foundation/components/top-bar",
   "foundation/components/type";
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

.card {
  @include border-radius($global-radius, $global-radius);
  @include single-box-shadow(scale-color($complement-color1, $lightness: -42%));
}

.header-button {
  @include button-style($secondary-color, true);
}

.small-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

#footer{
  @include grid-row();

  .footer-text {
    @extend .text-center;
    @include grid-column(12);
  }
}

#header {
  @extend .top-bar;
  @include filter-gradient($main-color1, scale-color($main-color1, $lightness: 14%));
  @include background(linear-gradient(top, $main_color1, scale-color($main-color1, $lightness: 14%)));

  border-top: 1px solid scale-color($main-color1, $lightness: 42%);
  border-bottom: 1px solid scale-color($main-color1, $lightness: -20%);

  .brand {
    @extend .title-area;
    ul li {
      @extend .name;
    }
  }
  .name h1 {
    font-size: 1.8rem;
  }
  #nav {
    @extend .top-bar-section;

    ul > .divider {
      height: .95 * $topbar-height;
    }
    .nav-links {
      @extend .right;
      background: transparent;

      li:not(.has-form) a:not(.button) {
        background: transparent;

        &:hover {
          background-color: $topbar-link-bg-hover;
        }
      }
      li > a {
        font-size: 1.0rem;
        padding: .45rem 0 .35rem 0;
        background: transparent;

        &.button {
          @extend .header-button;
          font-size: 1.0rem;
        }
      }
    }
    .has-button {
      @extend .has-form;
      background: transparent;
    }
  }
}



#search {
  @extend .top-bar;
  background-color: $main_color2;
  height: .8* $topbar-height;
  border-bottom: 1px solid scale-color($main-color2, $lightness: -20%);

  .search-bar {
    @include grid-column(4);
    @extend .small-centered;

    input {
      display: inline-block;
    }
    .button {
      @extend .header-button;
    }
  }
}

#construction-panel {
  @extend .card;
  @include grid-row();
  @include panel($neutral-color1);

  #construction-message {
    @include grid-column(8);
  }
  #construction-image {
    @include grid-column(4);
  }
}

#front-page-login {
  @include grid-row();
}

.section {
  @include grid-row();

  .section-main {
    @include grid-column(8);
  }
  .section-aside {
    @include grid-column(4);
  }
}

.container {
  @include grid-column(12);
}

.spacer {
  @include grid-row();
}

img#logo {
  padding-right: .5rem;
  margin-bottom: .4rem;
  height: .75 * $topbar-height;
}

img.recipe-holder {
  @include opacity(.40);
}

