@import "partials/base";
@import "third-party/maintain-ratio";

@import
  "compass",
  "compass/css3/border-radius",
  "compass/css3/box-shadow",
  "compass/css3/images",
  "compass/css3/opacity",
  "compass/css3/text-shadow";

@import
   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
   "foundation/components/breadcrumbs",
   "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/clearing",
   "foundation/components/dropdown",
   "foundation/components/dropdown-buttons",
   "foundation/components/forms",
   "foundation/components/grid",
   "foundation/components/inline-lists",
   "foundation/components/labels",
   "foundation/components/orbit",
   "foundation/components/panels",
   "foundation/components/reveal",
   "foundation/components/top-bar",
   "foundation/components/type";

/* mixins */
@mixin card(
  $background-color,
  $with-shadow: false,
  $shadow-color: $complement-color1) {

  @include panel($background-color);
  @include border-radius($global-radius, $global-radius);

  @if $with-shadow {
    @include single-box-shadow(scale-color($shadow-color, $lightness: -42%));
  }
}

/* classes */
.bar {
  @extend .top-bar;
  @include filter-gradient($main-color1, scale-color($main-color1, $lightness: 14%));
  @include background(linear-gradient(top, $main_color1, scale-color($main-color1, $lightness: 14%)));

  border-top: 1px solid scale-color($main-color1, $lightness: 42%);
  border-bottom: 1px solid scale-color($main-color1, $lightness: -20%);
}
.errorlist {
  background-color: scale-color($main-color1, $lightness: 56%);
  color: $complement-color2;
  padding: 0 1rem;

  li {
    list-style-type: none !important;
  }
}
.icon {
  font-size: 1.4rem;
}
.wrapper {
  @include grid-row();
}
.small-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
.tag {
  @include border-radius($global-radius, $global-radius);
  background-color: scale-color($main-color1, $lightness: 56%);
  color: $complement-color2;
  padding-left: .75rem;
  padding-right: .75rem;
  margin-left: .1rem;
  margin-right: .1rem;
}
.alert-box {
  background-color: $complement-color1;
  border-color: $complement-color2;

  & a {
    font-weight: bold;
  }
}
.card-header {
  @include grid-column(6);
  margin-left: -1rem;
  text-align: left;
}
.card-link {
  @include grid-column(6);
  text-align: right;
  padding-top: 1rem;
}
.card {
  @include card($neutral-color1, $with-shadow: true, $shadow-color: $complement-color2);
}
.header-button {
  @include button-style($secondary-color, true);
}
.login, .signup {
  display: inline !important;
}
.login {
  border: 1px solid $main-color2 !important;
}
.signup {
  background-color: scale-color($complement-color1, $lightness: 14%) !important;
  border: 1px solid $complement-color2 !important;

  &:hover {
    background-color: scale-color($complement-color1, $lightness: -14%) !important;
  }
}
.section {
  @extend .wrapper;

  .section-main {
    @include grid-column(9);
  }
  .section-aside {
    @include grid-column(3);
  }
  .section-fullwidth {
    @include grid-column(12);
  }
}
.container {
  @include grid-column(12);
}
.helptext {
  color: $neutral-color2;
  font-style: italic;
}
.spacer {
  @extend .wrapper;
  height: 1rem;
}
.next-previous {
  color: $main-color2;
  text-align: right;

  & a, .link-like {
    color: $neutral-color1;
  }
}
.link-like {
  color: $main-color1  !important;
}

/* elements */
img#logo {
  padding-right: .5rem;
  margin-bottom: .4rem;
  height: .75 * $topbar-height;
}
img.recipe-holder {
  @include opacity(.40);
}
small > em {
  color: $neutral-color2;
}

/* divs */
#content {
   padding-top: 2* $topbar-height; // to clear fixed header and search bar
}
#footer{
  @extend .bar;
  height: 2 * $topbar-height;
  padding-top: 1rem;
  padding-bottom: .5rem;
  margin-bottom: 0;

  .footer-links {
    @extend .inline-list;
    display: inline-block;
    text-align: center;
    margin-bottom: 0 !important;
    li > a {
      color: $neutral-color1;
    }
    li > a:hover {
      color: scale-color($neutral-color1, $lightness: -14%);
    }
  }
  .footer-text {
    @include grid-column(12);
    text-align: center;
  }
}
#header {
  @extend .bar;

  .brand {
    @extend .title-area;
    ul li {
      @extend .name;
    }
  }
  .name h1 {
    font-size: 1.8rem;
  }
  #nav {
    @extend .top-bar-section;

    ul > .divider {
      height: .95 * $topbar-height;
    }
    .nav-links {
      @extend .right;
      background: transparent;

      li:not(.has-form) a:not(.button) {
        background: transparent;

        &:hover {
          background-color: $topbar-link-bg-hover;
        }
      }
      li > a {
        font-size: 1.0rem;
        padding: .45rem 0 .35rem 0;
        background: transparent;

        &.button {
          @extend .header-button;
          font-size: 1.0rem;
        }
      }
    }
    .has-button {
      @extend .has-form;
      background: transparent;
    }
  }
}
#search {
  @extend .top-bar;
  background-color: $main_color2;
  height: .8* $topbar-height;
  border-bottom: 1px solid scale-color($main-color2, $lightness: -20%);

  .search-bar {
    @include grid-column(4);
    @extend .small-centered;

    ul {
      text-align: center;

      li {
        display: inline-block;

        &.search-input {
          width: 80%;
        }
        button[type="submit"] {
          border: 1px solid scale-color($main-color2, $lightness: -14%);
          padding: 2px;
          margin: 5px 0 0 0;
          vertical-align: top;
          background: transparent;

          &:hover {
            background-color: $primary-color;
          }
          img {
            height: .45 * $topbar-height;
          }
        }
        input[type="text"] {
          @include border-radius($global-radius, $global-radius);
        }
      }
    }

    input {
      display: inline-block;
    }
    .button {
      @extend .header-button;
    }
  }
}
#construction-panel {
  @extend .card;
  @include grid-row();

  #construction-message {
    @include grid-column(8);
  }
  #construction-image {
    @include grid-column(4);
  }
}



