@import "main";
@import "compass/css3/box-sizing";

$include-html-classes: false;

#search-content {
  @extend .wrapper;

  #tags {
    @include grid-column(3);

    .tags-inner {
      @extend .wrapper;

      .tags-list {
        @include grid-column(11);
        background-color: $neutral-color1;
        border-left: 1px solid $complement-color2;
        border-right: 1px solid $complement-color2;
        padding: 0;

        h1, h2 {
          color: $complement-color2;
        }
        ul {
          margin: 0 0 .5rem 0;
        }
        li {
          list-style: none;
          padding-left: 1.25rem;
          line-height: 2rem;

          &:not(.tag-header):not(.tag-info):hover, &.query {
            background-color: scale-color($neutral-color1, $lightness: -14%);
          }
        }
        .tag-info {
          font-variant: small-caps;
          font-weight: bold;
          color: $main-color2;
        }
        .tag-header {
          padding-top: .5rem;
          border-bottom: 1px solid $complement-color2;
          border-top: 1px solid $complement-color2;

          h2 {
            font-variant: small-caps;
            font-size: 1.5rem;
          }
        }
        .tag-header-middle {
          margin-top: .5rem;
        }
      }
      .tags-spacer {
        @include grid-column(1);
      }
    }
  }
  #search-results {
    @include grid-column(9);
  }
  #search-results-fullwidth {
    @include grid-column(12);
  }
  .search-options {
    @extend .card;

    .search-filter {
      width: 100%;
      background-color: scale-color($main-color1, $lightness: 70%);
      padding: 10px;
      border: 1px solid scale-color($main-color1, $lightness: 42%);

      th {
        text-align: right;
        width: 25%;
        padding-right: 1rem;
      }
      ul {
        margin-bottom: 0;

        li {
          display: inline;
          margin-right: 1rem;
        }
      }
    }
  }
  .recipe-list {
    margin-left: -1rem;
  }
  .recipe-list, .recipe-list-fullwidth {
    @include panel($complement-color2);
    @include border-radius($global-radius, $global-radius);
    margin-top: 5px;

    .recipe-text {
      h1, h2, h3 {
        color: $complement-color1;
      }

      h4, h5, h6 {
        color: $neutral-color3;
      }
    }
    h1, h2, h3, h4, h5, h6 {
      color: $neutral-color1;
    }
    & p {
      color: $neutral-color3;
    }
  }
  .recipe-list {
    @include grid-column(9);
  }
  .recipe-list-fullwidth {
    @include grid-column(12);
  }
  .no-results {
    @extend .card;
  }
  #featured-recipes {
    @include grid-column(12);
    padding-bottom: 1.5rem;
  }
  #newest-recipes {
    @extend .wrapper;

    .new-cards {
      @include grid-column(12);

      ul.new-recipe-list {
        @include block-grid(4);

        li > p.small-recipe {
          @include card($neutral-color1);
          @include maintain-ratio($ratio: 3 4);
          overflow: hidden;
          font-size: .8 * $base-font-size;
          text-align: center;

          img {
            padding-bottom: .5rem;
          }
        }
      }
    }
  }
}

#search-form {
  input[type="submit"] {
    display: block;
  }
  label {
    display: inline-block;
  }
  select {
    width: 60%;
    display: inline-block;
  }
}
#admin-panel {
  width: 100%;
  background-color: #fff;
  color: $neutral-color3;

  .button {
    background-color: $complement-color1;
    border: 1px solid scale-color($complement-color1, $lightness: -28%);

    &:hover {
      background-color: scale-color($complement-color1, $lightness: -14%);
    }
  }
  #nav-panel, #aux-panel, #main-panel {
    display: inline-block;
  }
  #nav-panel, #aux-panel {
    width: 20%;
    margin: 0 !important;
  }
  #main-panel {
    width: 58%;
  }
}
#user-login {
  @extend .card;
}
.fullwidth-button {
  width: 100%;
  background-color: $complement-color2;

  &:hover {
    background-color: scale-color($complement-color2, $lightness: -28%);
  }
}
.login-form {
  text-align: center;

  .login-form-table {
    margin: 0 auto;

    th {
      text-align: right;
      padding-right: .5rem;
      vertical-align: top;
    }
    td  {
      padding-bottom: 1rem;

      br {
        display: none; // hack to get rid of <br> elements inserted by Django
      }
      input {
        padding-top: 0;
        margin-bottom: .3rem;
      }
    }
  }
}
.page-text {
  img.recipe-holder {
    height: 10rem;
    vertical-align: top;
    float: right;
  }
}
.policy-agreement {
  text-align: center;
}
.profile-avatar {
  width: 80%;
  display: block;
  margin: 0 auto 1rem auto !important;
  border: 1px solid scale-color($neutral-color2, $lightness: 50%);
}
.profile-details {
  text-align: center;
}
.recipe-slider {
  @include maintain-ratio($ratio: 7 3);
  overflow: hidden;
}
.recipe-summary, .recipe-slider {
  @include grid-row();
}
.recipe-summary, .recipe-full, .recipe-slider {
  @extend .card;

  margin-bottom: 5px;

  .new-recipe-form {
    text-align: center;
    margin-top: 2rem;

    input:not([type="submit"]), textarea {
      width: 90%;
      padding-right: 1rem;
      display: inline;
      border: none;
    }
    textarea {
      vertical-align: top;
    }
    #id_ingredients {
      height: 10rem;
    }
    #id_instructions {
      height: 15rem;
    }
    #id_title {
      color: $main-color2;
      font-weight: bold;
    }
    .errorlist {
      width: 90%;
    }
  }
  .new-recipe-image {
    margin-bottom: 1rem;
  }
  .recipe-image {
    @include grid-column(3);

    p {
      line-height: .5rem !important;
      display: block;
      text-align: center;
      padding-top: .5rem;
    }
  }
  .recipe-text {
    @include grid-column(9);
  }
}
.rating {
  display: inline-block !important;
  padding-left: 1rem;
  padding-right: 1rem;

  .rating-icon {
    font-size: 2rem;
    color: $complement-color1;
  }
}
.social-media-login {
  font-size: 3rem;
  text-align: center;

  i {
    padding: 0 1rem;

    &.fi-social-facebook {
      color: #4c66a4;
    }
    &.fi-social-google-plus {
      color: #d34836;
    }
    &.fi-social-twitter {
      color: #55acee;
    }
    &.fi-social-yahoo {
      color: #500095;
    }
  }
}
.split-form-wrapper {
  @extend .wrapper;

  .large-partial {
    @include grid-column(9);
  }
  .small-partial {
    @include grid-column(3);
  }
}
