{% load staticfiles %}

<div {% if recipe_id %}id="{{ recipe_id }}" {% endif %}class="{{ recipe_div_class }} reveal-modal" data-reveal>
  {% with recipe.get_image_url as image_url %}
    <div class="recipe-image">
      <img src="{% if image_url %}{{ image_url }}{% else %}{% static "img/large-bowl.png" %}{% endif %}" {% if not image_url %}class="recipe-holder" {% endif %}/>
    </div>
  {% endwith %}

  <div class="recipe-text">
    <h3><a href="">{{ recipe.title }}</a></h3>

    {% with recipe.likes as likes %}
    {% with recipe.dislikes as dislikes %}
      <p>
        {% if likes or dislikes %}
          <img src="{% static "img/thumbs-up.png" %}" /> {{ likes }} Like{{ likes|pluralize }}
          <img src="{% static "img/thumbs-down.png" %}" /> {{ dislikes }} Dislike{{ dislikes|pluralize }}
        {% endif %}
      </p>
    {% endwith %}
    {% endwith %}

    <p>{{ recipe.short_description }}</p>
    <p>{% for tag in recipe.tags.all %}<span class="tag">{{ tag }}</span>{% endfor %}</p>
    {{ recipe.ingredients|safe }}
    <p>&nbsp;</p>
    {{ recipe.instructions|safe }}
  </div>
</div>