{% extends "partials/_form_base.html" %}

{% load staticfiles %}

{% block form_id %}new-recipe-form{% endblock %}
{% block form_class %}new-recipe-form{% endblock %}

{% block form %}
  <div class="recipe-image">
    <img src="{% if image_url %}{{ image_url }}{% else %}{% static "img/large-bowl.png" %}{% endif %}" class="new-recipe-image{% if not image_url %} recipe-holder{% endif %}" />
    {% if not foo %}
      <label for="id_image">Upload an Image</label><br>
    {% endif %}
    {{ form.image }}
  </div>

  <div class="recipe-text">
    <p><small></em>Fields marked by <span class="required">*</span> are required</small></em></p>
    {{ form.title.errors }}
    {{ form.title }}<span class="required">*</span>

    {{ form.short_description.errors }}
    {{ form.short_description }}<span class="required">*</span>

    <div class="spacer"></div>
    {{ form.tags.errors }}
    {{ form.tags }}

    {{ form.ingredients.errors }}
    {{ form.ingredients }}<span class="required">*</span>

    {{ form.instructions.errors }}
    {{ form.instructions }}<span class="required">*</span>

    {{ form.serving_size.errors }}
    <label for="id_serving_size">{{ form.serving_size.label }}:</label>
    {{ form.serving_size }}<span class="required">*</span>

    {{ form.added_by }}
  </div>
{% endblock %}

{% block submit_label %}Add Recipe{% endblock %}
