{% load staticfiles %}

{% if full_recipe %}
<div {% if recipe_id %}id="{{ recipe_id }}" {% endif %}class="{{ recipe_div_class }} reveal-modal" data-reveal>
  <div><a href="#" class="close-reveal-modal">X</a></div>
{% else %}
<div class="{{ recipe_div_class }}">
{% endif %}

  <div class="recipe-image">
    <img src="{{ image_url }}" class="recipe-holder">
    <p><small><em>Posted {{ recipe.date_added|timesince }} ago</em></small></p>
  </div>

  <div class="recipe-text">
    <h3><a href="#" data-reveal-id="{{ recipe_id }}">{{ recipe.title }}</a></h3>

    <p>
      {% if likes or dislikes %}
        <span class="rating"><i class="fi-like rating-icon"></i> {{ likes }} Yum</span>
        <span class="rating"><i class="fi-dislike rating-icon"></i> {{ dislikes }} Yuck</span>
      {% endif %}
    </p>

    <p>{{ recipe.short_description }}
      {% if not full_recipe %}<br /><a href="#" data-reveal-id="{{ recipe_id }}">Full Recipe...</a>{% endif %}
    </p>

    <p>{% for tag in tags %}<a href="{% url "recipe_search" %}?q={{ '"'|urlencode }}{{ tag }}{{ '"'|urlencode }}" class="tag">{{ tag }}</a> {% endfor %}</p>

    {% if full_recipe %}
      {{ recipe.ingredients|safe }}
      <p>&nbsp;</p>
      {{ recipe.instructions|safe }}
    {% endif %}

    <p><small><em>Serves {{ recipe.serving_size_label }}</em></small></p>
  </div>
</div>