{% load staticfiles %}

<div class="{{ recipe_div_class }}">
  {% with recipe.get_image_url as image_url %}
    <div class="recipe-image">
      <img src="{% if image_url %}{{ image_url }}{% else %}{% static "img/large-bowl.png" %}{% endif %}" {% if not image_url %}class="recipe-holder" {% endif %}/>
    </div>
  {% endwith %}

  <div class="recipe-text">
    {% with recipe.summary_id as recipe_id %}
      <h3><a href="#" data-reveal-id="{{ recipe_id }}">{{ recipe.title }}</a></h3>

      {% with recipe.likes as likes %}
      {% with recipe.dislikes as dislikes %}
        <p>
        {% if likes or dislikes %}
          <img src="{% static "img/thumbs-up.png" %}" /> {{ likes }} Like{{ likes|pluralize }}
          <img src="{% static "img/thumbs-down.png" %}" /> {{ dislikes }} Dislike{{ dislikes|pluralize }}
        {% endif %}
        </p>
      {% endwith %}
      {% endwith %}

      {% with "recipe-full" as recipe_div_class %}
        {% include "recipes/partials/_full_recipe.html" %}
      {% endwith %}
      <p>{{ recipe.short_description }}  <a href="#" data-reveal-id="{{ recipe_id }}">More</a></p>
    {% endwith %}

    <p>{% for tag in recipe.tags.all %}<a href="{% url "recipe_search" %}?q={{ tag }}" class="tag">{{ tag }}</a>{% endfor %}</p>
  </div>
</div>
