@import "foundation/functions";

$main-color1: #fff;             // white
$main-color2: #6dc06a;          // light green
$complement-color1: #fff;       // white
$complement-color2: #0f5f8e;    // darker blue
$neutral-color1: #001200;       // black
$neutral-color2: #999;          // grey
$neutral-color3: #333;          // dark grey


$primary-color: $main-color1;
$secondary-color: $neutral-color1;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$body-bg: $main-color1;
$body-font-color: $neutral-color2;

