$main-color1: #E77E23;          // orange
$main-color2: #E76613;          // darker orange
$complement-color1: #368ABB;    // blue
$complement-color2: #2A6C85;    // darker blue


$primary-color: $main-color1;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$body-bg: $complement-color1;
$body-font-color: #666;

