@import "foundation/functions";

$main-color1: #e77e23;          // orange
$main-color2: #ce6306;          // darker orange
$complement-color1: #368aBB;    // blue
$complement-color2: #2a6c85;    // darker blue
$neutral-color1: #fffefc;       // white
$neutral-color2: #666;          // grey
$neutral-color3: #333;          // dark grey


$primary-color: $main-color1;
$secondary-color: $neutral-color1;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$body-bg: $complement-color1;
$body-font-color: $neutral-color2;

