<div class="search-options">
  <h2>Search</h2>

  <form id="search-form" method="get" action=".">
    {{ form.q }}
    <table class="search-filter">
      <tr>
          <th><label for="id_tags">{{ form.tags.label }}:</label></th>
          <td>{{ form.tags }}</td>
      </tr>
      <tr>
          <th><label for="id_order">{{ form.order.label }}:</label></th>
          <td>{{ form.order }}</td>
      </tr>
      <tr>
          <th><label for="id_ss">{{ form.ss.label }}:</label></th>
          <td>{{ form.ss }}</td>
      </tr>
      <tr>
          <th><label for="id_all">{{ form.all.label }}</label></th>
          <td>{{ form.all }}</td>
      </tr>
      <tr><td></td><td><input type="submit" value="Search Recipes"></td></tr>
    </table>
  </form>
</div>