{% extends "page_base.html" %}

{% block all_content %}
  <form id="edit-profile-form" method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}

    <div class="section-aside">
      <img id="img-for-profile" class="profile-avatar" src="{{ profile.get_avatar }}" />
      <span class="profile-details">
        {{ form.avatar }}
      </span>
    </div>

    <div class="section-main">
      <h2>Update Your Profile</h2>
      {{ form.user }}
      <div class="spacer"></div>
      <table class="{% block form_table_class %}{% endblock %}">
        <tr><td colspan="2">{{ form.nickname.errors }}</td></tr>
        <tr>
            <th><label for="id_nickname">{{ form.nickname.label }}:</label></td>
            <td>{{ form.nickname }}</label>
        </tr>
        <tr class="table-spacer"><td>&nbsp;</td><td></td></tr>
        {% if not profile.get_social_logins %}
          <tr class="table-divider"><td colspan="2">Login Information</td></tr>
          <tr class="table-spacer"><td>&nbsp;</td><td></td></tr>
          <tr><td></td><td>{{ form.email.errors }}</td></tr>
          <tr>
              <th><label for="id_email">{{ form.email.label }}:</label></th>
              <td>{{ form.email }}</td>
          </tr>

          <tr><td></td><td>{{ form.new_password1.errors }}</td></tr>
          <tr>
              <th><label for="id_new_password1">Change Password:</label></th>
              <td>{{ form.new_password1 }}</td>
          </tr>
          <tr>
              <th><label for="id_new_password2">Repeat Password:</label></th>
              <td>{{ form.new_password2 }}</td>
          </tr>
          <tr>
              <th><label for="id_old_password">Current Password (for security):</label></th>
              <td>{{ form.old_password }}</td>
          </tr>
          <tr class="table-divider"><td colspan="2">&nbsp;</td></tr>
          <tr class="table-spacer"><td>&nbsp;</td><td></td></tr>
        {% endif %}
        <tr>
            <td></td>
            <td>
              <input type="submit" value="Update Profile">
              <a href="{% url "my_profile" %}" class="button button-secondary tiny">Cancel</a>
            </td>
        </tr>
      </table>
    </div>
  </form>
{% endblock %}

{% block body_script %}
  function updateAvatar(input) {
    // when we upload a file, change the image to match
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#img-for-profile').attr("src", e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
  }
  $("#id_avatar").change(function(){ updateAvatar(this); });
{% endblock %}