{% extends "page_base.html" %}

{% block all_content %}
  <form id="edit-profile-form" method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}

    <div class="section-aside">
      <img class="profile-avatar" src="{{ profile.get_avatar }}" />
      <span class="profile-details">
        {{ form.avatar }}
      </span>
    </div>

    <div class="section-main">
      <h2>Update Your Profile</h2>
      <div class="spacer"></div>
      <table class="{% block form_table_class %}{% endblock %}">
        <tr>
            <td><label for="id_nickname">{{ form.nickname.label }}:</label></td>
            <td>{{ form.nickname }}</label>
        <tr>
            <td></td><td><input type="submit" value="Update Profile"></td>
        </tr>
      </table>
    </div>
  </form>
{% endblock %}