{% extends "page_base.html" %}

{% load staticfiles %}

{% block head_extra %}
  <link href="{% static "tag-it/css/jquery.tagit.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "tag-it/css/tagit.ui-zendesk.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main_content %}
  <a class="button fullwidth-button" href="#" data-reveal-id="new-recipe">Add a Recipe</a>
  <div id="new-recipe" class="reveal-modal recipe-full" data-reveal>
    <a id="close-new-recipe-modal" class="close-reveal-modal">Cancel</a>
    {% include "recipes/partials/_new_recipe_form.html" %}
  </div>

  <div class="spacer"></div>

  {% include "organizations/partials/_user_recipes.html" %}
{% endblock %}

{% block sidebar %}
  <img class="profile-avatar" src="{{ profile.get_avatar }}" />
  <span class="profile-details">
    <h4>{{ profile }}</h4>
    <p>{{ user.email }}</p>
  </span>
{% endblock %}

{% block body_script_includes %}
  <script src="{% static "tag-it/js/tag-it.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block body_script %}
  var defaultImg = $("#img-for-recipe").attr("src");

  function updateImage(input) {
    // when we upload a file, change the image to match
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#img-for-recipe').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
  }
  function clearRecipeForm(){
    $("#new-recipe-form")[0].reset();
    $("ul.tagit li").each(
      function() {
        if (!$(this).hasClass("tagit-new")) {
          $(this).remove();
        }
    });
    $("#img-for-recipe").attr("src", defaultImg);
  }

  {% if form.errors %}
    $("#new-recipe").foundation('reveal', 'open');
  {% endif %}
  $("#id_tags").tagit();
  $("#close-new-recipe-modal").click(clearRecipeForm);
  $("#id_image").change(function(){ updateImage(this); });
{% endblock %}


