{% extends "page_base.html" %}

{% block main_content %}
  <a class="button fullwidth" href="#" data-reveal-id="new-recipe-form">Add a Recipe</a>
  <div class="reveal-modal" id="new-recipe-form" data-reveal>
    <a class="close-reveal-modal">Cancel</a>
    {% include "recipes/partials/_new_recipe_form.html" %}
  </div>

  <div class="spacer"></div>

  {% include "organizations/partials/_user_recipes.html" %}
{% endblock %}

{% block sidebar %}
  <img class="profile-avatar" src="{{ profile.get_avatar }}" />
  <span class="profile-details">
    <h4>{{ profile }}</h4>
    <p>{{ user.email }}</p>
  </span>
{% endblock %}
